@if (!getListItems().length) {
  <div class="container">
    @if (addItem()) {
     <button class="btn btn-primary" (click)="addItem.set(false)">
       Crie uma lista de tarefas
     </button>
    } @else {
     <app-input-add-item 
       [inputListItems]="getListItems()"
       (outputAddListItems)="getIputAndAddItem($event)"
     />
    }
  </div>
} @else {
  <app-input-add-item 
    [inputListItems]="getListItems()"
    (outputAddListItems)="getIputAndAddItem($event)"
  />

  <main class="container">

  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">Deletar todos itens</button>
  </footer>
} 

